* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 95vh;
  background-image: url("../public/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.header {
  font-family: "Fredoka One", cursive;
  color: white;
}
li {
  list-style: none;
}
.card {
  background-color: #f38d3c;
  transition: all 0.8s ease-in-out;
  cursor: pointer;
}
.card:hover .card-image {
  transform: scale(0.95);
}
